# Current date: {{ .CurrentDate.Format "Mon Jan _2 15:04:05 2006" }}
# Hostname: {{ .Hostname }}
# Files: {{ .Filename }}
{{ with .Global -}}
# Overall: {{ shortInt .TotalQueries }} total, {{ shortInt .UniqueQueries }} unique
# Attribute          total     min     max     avg     95%  median
# =============     ======= ======= ======= ======= ======= =======
{{ with .Metrics.TimeMetrics.Query_time -}}
# Exec time         {{ shortTime .Sum | printf "%7s" }} {{ shortTime .Min | printf "%7s" }} {{ shortTime .Max | printf "%7s" }} {{ shortTime .Avg | printf "%7s" }} {{ shortTime .P95 | printf "%7s" }} {{ shortTime .Med | printf "%7s" }}
{{ end -}}
{{ with .Metrics.TimeMetrics.Lock_time -}}
# Lock time         {{ shortTime .Sum | printf "%7s" }} {{ shortTime .Min | printf "%7s" }} {{ shortTime .Max | printf "%7s" }} {{ shortTime .Avg | printf "%7s" }} {{ shortTime .P95 | printf "%7s" }} {{ shortTime .Med | printf "%7s" }}
{{ end -}}
{{ with .Metrics.NumberMetrics.Rows_sent -}}
# Rows sent         {{ shortInt .Sum | printf "%7s" }} {{ shortInt .Min | printf "%7s" }} {{ shortInt .Max | printf "%7s" }} {{ short .Avg | printf "%7s" }} {{ shortInt .P95 | printf "%7s" }} {{ shortInt .Med | printf "%7s" }}
{{ end -}}
{{ with .Metrics.NumberMetrics.Rows_examined -}}
# Rows examined     {{ shortInt .Sum | printf "%7s" }} {{ shortInt .Min | printf "%7s" }} {{ shortInt .Max | printf "%7s" }} {{ short .Avg | printf "%7s" }} {{ shortInt .P95 | printf "%7s" }} {{ shortInt .Med | printf "%7s" }}
{{ end -}}
{{ with .Metrics.NumberMetrics.Rows_affected -}}
# Rows affected     {{ shortInt .Sum | printf "%7s" }} {{ shortInt .Min | printf "%7s" }} {{ shortInt .Max | printf "%7s" }} {{ short .Avg | printf "%7s" }} {{ shortInt .P95 | printf "%7s" }} {{ shortInt .Med | printf "%7s" }}
{{ end -}}
{{ with .Metrics.NumberMetrics.Bytes_sent -}}
# Bytes sent        {{ shortByteInt .Sum | printf "%7s" }} {{ shortByteInt .Min | printf "%7s" }} {{ shortByteInt .Max | printf "%7s" }} {{ shortByte .Avg | printf "%7s" }} {{ shortByteInt .P95 | printf "%7s" }} {{ shortByteInt .Med | printf "%7s" }}
{{ end -}}
{{ end -}}
{{ $g := .Global }}
# Profile
# Rank Query ID           Response time Calls  R/Call
# ==== ================== ============= ====== ======
{{ range $i, $v := .Profiles }}{{ with $v -}}
# {{ rank $i | printf "%4d" }} 0x{{ .Id }} {{ printf "%7.4f" .Metrics.TimeMetrics.Query_time.Sum }} {{ percent .Metrics.TimeMetrics.Query_time.Sum $g.Metrics.TimeMetrics.Query_time.Sum | printf "%4.1f%%" }} {{ printf "%6d" .TotalQueries }} {{ per .Metrics.TimeMetrics.Query_time.Sum .TotalQueries | printf "%6.4f" }} {{ summary .Example.Query }}
{{ end }}{{ end -}}
{{ range $i, $v := .Profiles }}{{ with $v }}
# Query {{ rank $i }}: ID 0x{{ .Id }}
# Attribute     pct   total     min     max     avg     95%  median
# ============= === ======= ======= ======= ======= ======= =======
# Count         {{ percent .TotalQueries $g.TotalQueries | printf "%3.0f" }} {{ printf "%7d" .TotalQueries }}
{{ with .Metrics.TimeMetrics.Query_time -}}
# Exec time     {{ percent .Sum $g.Metrics.TimeMetrics.Query_time.Sum | printf "%3.0f" }} {{ shortTime .Sum | printf "%7s" }} {{ shortTime .Min | printf "%7s" }} {{ shortTime .Max | printf "%7s" }} {{ shortTime .Avg | printf "%7s" }} {{ shortTime .P95 | printf "%7s" }} {{ shortTime .Med | printf "%7s" }}
{{ end -}}
{{ with .Metrics.TimeMetrics.Lock_time -}}
# Lock time     {{ percent .Sum $g.Metrics.TimeMetrics.Lock_time.Sum | printf "%3.0f" }} {{ shortTime .Sum | printf "%7s" }} {{ shortTime .Min | printf "%7s" }} {{ shortTime .Max | printf "%7s" }} {{ shortTime .Avg | printf "%7s" }} {{ shortTime .P95 | printf "%7s" }} {{ shortTime .Med | printf "%7s" }}
{{ end -}}
{{ with .Metrics.NumberMetrics.Rows_sent -}}
# Rows sent     {{ percent .Sum $g.Metrics.NumberMetrics.Rows_sent.Sum | printf "%3.0f" }} {{ shortInt .Sum | printf "%7s" }} {{ shortInt .Min | printf "%7s" }} {{ shortInt .Max | printf "%7s" }} {{ short .Avg | printf "%7s" }} {{ shortInt .P95 | printf "%7s" }} {{ shortInt .Med | printf "%7s" }}
{{ end -}}
{{ with .Metrics.NumberMetrics.Rows_examined -}}
# Rows examined {{ percent .Sum $g.Metrics.NumberMetrics.Rows_examined.Sum | printf "%3.0f" }} {{ shortInt .Sum | printf "%7s" }} {{ shortInt .Min | printf "%7s" }} {{ shortInt .Max | printf "%7s" }} {{ short .Avg | printf "%7s" }} {{ shortInt .P95 | printf "%7s" }} {{ shortInt .Med | printf "%7s" }}
{{ end -}}
{{ with .Metrics.NumberMetrics.Rows_affected -}}
# Rows affected {{ percent .Sum $g.Metrics.NumberMetrics.Rows_affected.Sum | printf "%3.0f" }} {{ shortInt .Sum | printf "%7s" }} {{ shortInt .Min | printf "%7s" }} {{ shortInt .Max | printf "%7s" }} {{ short .Avg | printf "%7s" }} {{ shortInt .P95 | printf "%7s" }} {{ shortInt .Med | printf "%7s" }}
{{ end -}}
{{ with .Metrics.NumberMetrics.Bytes_sent -}}
# Bytes sent    {{ percent .Sum $g.Metrics.NumberMetrics.Bytes_sent.Sum | printf "%3.0f" }} {{ shortByteInt .Sum | printf "%7s" }} {{ shortByteInt .Min | printf "%7s" }} {{ shortByteInt .Max | printf "%7s" }} {{ shortByte .Avg | printf "%7s" }} {{ shortByteInt .P95 | printf "%7s" }} {{ shortByteInt .Med | printf "%7s" }}
{{ end -}}
# String:
# Databases     {{ .Example.Db }}
# 
# EXPLAIN /*!50100 PARTITIONS*/
{{ .Example.Query }}\G
{{ end }}{{ end -}}
